/.env
/vendor
/cache
/composer.lock
/phinx.yml
/.DS_Store
/coverage/Auth/dashboard.html
/coverage/Auth/index.html
/coverage/Auth/LoggedIn.php.html
/coverage/Controllers/AdminController.php.html
/coverage/Controllers/AuthenticationController.php.html
/coverage/Controllers/BaseController.php.html
/coverage/Controllers/BaseControllerWithDI.php.html
/coverage/Controllers/dashboard.html
/coverage/Controllers/index.html
/coverage/Controllers/PageController.php.html
/coverage/Controllers/RegisterController.php.html
/coverage/Controllers/TestimonialController.php.html
/coverage/dashboard.html
/coverage/Email/dashboard.html
/coverage/Email/index.html
/coverage/Email/SendEmail.php.html
/coverage/Http/dashboard.html
/coverage/Http/index.html
/coverage/Http/Request.php.html
/coverage/Http/Response.php.html
/coverage/Http/Session.php.html
/coverage/index.html
/coverage/Interfaces/ControllerInterface.php.html
/coverage/Interfaces/dashboard.html
/coverage/Interfaces/index.html
/coverage/Models/dashboard.html
/coverage/Models/index.html
/coverage/Models/Page.php.html
/coverage/Models/Testimonial.php.html
/coverage/Models/User.php.html
/coverage/Models/UserPending.php.html
/coverage/Validation/dashboard.html
/coverage/Validation/index.html
/coverage/Validation/Validator.php.html
/voorbeeld_code.php
